@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Major+Mono+Display&family=VT323&display=swap');

:root{
    --light: #F1F1F1;
    --dark: #100f0f;
    --green: #0f3d3e;
    --semi-light: #e2dcc8;
}

/* Body lårt */

body{
    scroll-behavior: smooth;
    font-family: 'Graduate', cursive;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
}

  
  .skill-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
  }
  /* Cirlce skill */
  
  
  /* Ovenstående txt til skills */
  
  .skill-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .skill-txt-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #E2DCC8;
  }
  
  .skill-txt-container h4{
    font-size: 3rem;
    width: 100%;
    margin-top: 0;
    text-align: center;
  }
  
  .skill-txt-container p {
    font-size: 1.4rem;
    margin: 4.5%;
  }
  
  
  .main-container{
    background-color: #0f3d3e;
    height: 100vh;
    z-index: -1;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .outer-icon{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  
  .html-skill-inner{
    width: 15%;
    position: absolute;
    bottom: 40%;
    animation: moveInCircle 0.5s;
  }
  
  .js-skill-inner{
    width: 25%;
    position: absolute;
    bottom: 40%;
    animation: moveInCircle 0.5s;
  }
  
  
  
  .TXT-skills{
    font-size: 2rem;
    position: absolute;
    bottom: 95%;
    animation: moveTXT 0.5s;
    transition: all ease;
    color: #E2DCC8;
  }
  
  .icon-container{
    font-size: 1.5rem;
    position: absolute;
    bottom: 25%;
    padding-left: 10px;
    color: black;
    
  }
  
  
  .spacer{
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
  }
  
  .outer-icon{
    position: relative;
  }
  
  
  
  /* Animate outer ring */

  
  .HTML-circle{
  fill: #e2dcc8;
  stroke: #100F0F;
  opacity: 0;

  
  }
  
  .css-circle{
  fill: #e2dcc8;
  stroke: #100F0F;
  opacity: 0;
  
  }
  
  .js-circle{
  fill: #e2dcc8;
  stroke: #100F0F;
  opacity: 0;
}

.html-animation{

    animation: circleHTML 1.25s forwards;
    animation-delay: .45s;
}

.css-animation{
    animation: circleCSS 1.25s forwards;
    animation-delay: .45s;
}

.js-animation{
    animation: circleJS 1.25s forwards;
    animation-delay: .45s;
}

  
  
  /* Skill points txt */
  h6.skill-point-txt{
      color: #e2dcc8;
      font-size: 1vw;
      margin: 0;
      line-height: 120%;
  }
  
  .skill-point-txt-wrapper{
    padding: 2%;
  }
  
  /* Individuelle Animationer  */
  
  @keyframes circleHTML{
    0%{
      stroke-dasharray: 0;
      
    }
  
    100%{
      stroke-dasharray: 580;
      opacity: 1;
      stroke-width: 12px;
    }
  }
  @keyframes circleCSS{
    0%{
      stroke-dasharray: 0;
    }
  
    100%{
      stroke-dasharray: 400;
      stroke-dashoffset: 90;
      stroke-width: 12px;
      opacity: 1;
  
    }
  }
  @keyframes circleJS{
    0%{
      stroke-dasharray: 0;
      stroke-dashoffset: 0;
    }
  
    100%{
      stroke-dasharray: 245;
      stroke-dashoffset: -65;
      stroke-width: 12px;
      opacity: 1;
  
    }
  }
  @keyframes circleLaravel{
    0%{
      stroke-dasharray: 0;
      stroke-dashoffset: 0;
  
    }
  
    100%{
      stroke-dasharray: 230;
      stroke-dashoffset: -130;
      stroke-width: 12px;
      opacity: 1;
  
  
    }
  }
  
  
  /* Genrelle animationer */
  @keyframes moveInCircle{
    0%{
      opacity: 0;
      transform: translateY(200px);
    }
    100%{
      opacity: 1;
      transform: translateY(0);
  
    }
  }
  
  @keyframes moveTXT {
  
    0%{
      transform: translateX(-200px);
      opacity: 0;
    }
  
    100%{
      opacity: 1;
      transform: translateX(0);
    }
    
  }
  
  
  @media screen and (min-width: 1500px) {
  
    .html-skill-inner{
    width: 15%;
    padding-bottom: 10px;
  
  }
  
  .js-skill-inner{
    width: 35%;
    padding-bottom: 5px;
  
  }
  
  }

  @media screen and (max-width: 1000px) {
    .main-container{
      width: 45vw;
    }

    .TXT-skills{
      margin: 10px;
    }

  }